<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- <meta charset="utf-8"> -->
    <title>PROJET CDA SIMPLON</title>
    <%- include('partials/head') %>
  </head>
  <body>
    
     <!-- <h1>PAGE ACCEUIL</h1> -->
     <%- include('partials/header') %>
     <a href="/geo" > <img src="sin2.png" alt="" width="300" height="300"></a>
     <p>Premier test de connexion Firebase</p>
     <button onclick="addUser()">Requete Firebase</button> 
    
     
  </body>
  
</html>
